Q1. What is a database? Differentiate between SQL and NoSQL databases.

#Ans.1. 
In programing to store the data in structure manner is called database or tools to store the data in structure manner is called database. difference between SQL and NoSQL is SQL(Structured Query Language) databases are relational, and NoSQL databases are non-relational.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#Ans.2.
Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

In [ ]:
#Ex. CREATE:
CREATE TABLE employees(id INT , name VARCHAR(50), department VARCHAR(50), salary DECIMAL(10, 2))

In [ ]:
#Ex. DROP:
DROP TABLE employees;

In [ ]:
#Ex. ALTER
ALTER TABLE employees
ADD COLUMN hire_date DATE;

In [ ]:
#Ex. TRUNCATE
TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#Ans.3.
A DML (data manipulation language) refers to a computer programming language that allows you to add (insert), delete (delete), and alter (update) data in a database.

In [ ]:
#Ex. INSERT, UPDATE, DELETE
INSERT INTO students (id, name, age, gender)
VALUES (101, 'John Doe', 25, 'Male');

UPDATE students
SET age = 26
WHERE id = 101;

DELETE FROM students
WHERE id = 101;

Q4. What is DQL? Explain SELECT with an example.

#Ans.4.
DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL allows you to construct queries that specify which data you want to retrieve from one or more tables.
Ex. Select

select * from test;         '''###it will retrieve the data from test database in format of Rows and Coloums.'''

Q5. Explain Primary Key and Foreign Key.

#Ans.5. 
A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. A foreign key is generally used to build a relationship between the two tables. The table allows only one primary key.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
#Ans.6.
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

Explanation of the cursor() and execute() methods:

cursor():
The cursor() method creates a cursor object, which is used to interact with the MySQL database. The cursor object allows you to execute SQL queries and retrieve data from the database.

execute():
The execute() method is used to execute a SQL query or a database operation on the MySQL server. It takes the SQL query as its parameter and sends it to the MySQL server for execution.

Q7. Give the order of execution of SQL clauses in an SQL query.

#Ans.7.
Order	Clause	Function
1	FROM	     Tables are joined to get the base data.
2	WHERE	     The base data is filtered.
3	GROUP BY	 The filtered base data is grouped.
4	HAVING	     The grouped base data is filtered.
5	SELECT	     The final data is returned.
6	ORDER BY	 The final data is sorted.
7	LIMIT	     The returned data is limited to row count.